
<form #form="ngForm" autocomplte="off" *ngIf="restaurantService.formData" (submit)="onSubmit(form)" >
  <input type="hidden" name="idCommand" #idCommand="ngModel" [(ngModel)]="restaurantService.formData.idCommand" />

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Total à payer</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input class="form-control" name="grandTotal" #grandTotal="ngModel" [(ngModel)]="restaurantService.formData.grandTotal" />
        </div>
       </div>
      
        <div class="form-group">
          <label>Payment Method</label>
          <select name="payMethod" #payMethod="ngModel" [(ngModel)]="restaurantService.formData.payMethod" class="form-control">
            <option value="">-Select-</option>
            <option value="cash">cash</option>
            <option value="cheque">cheque</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Ref Commande</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">#</div>
            </div>
            <input class="form-control" name="refCommande" #refCommande="ngModel" [(ngModel)]="restaurantService.formData.refCommande"
            (click)="genNumber()"/>
          </div>
        </div>

        <div class="form-group">
          <label>Client</label>
          <select name="idClient" #idClient="ngModel" [(ngModel)]="restaurantService.formData.idClient" class="form-control">
            <option value="">-Select-</option>
            <option *ngFor="let c of clientList" value="{{c.idClient}}">{{c.nom}}</option>
          </select>
        </div>
      </div>
      <!-- order items table-->
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>id</th>
            <th>Menu</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Montant</th>
            <th>
              <a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null,restaurantService.formData.idCommand)"> <i class="fa fa-plus"></i>add items</a>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngIf="restaurantService.orderItems.length==0">
            <td class="font-italic text-center" colspan="4">No item selected yet for this order</td>
          </tr>
          <tr *ngFor="let item of restaurantService.orderItems; let i = index;">
            <td>{{item.idfoodItem}}</td>
            <td>{{item.itemName}}</td>
            <td>{{item.prix}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.total}}</td>
            <td>
              <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,restaurantService.formData.idCommand)"> <i class="fa fa-pencil"></i></a>
              <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeletOrderItem(item.idLigneCommande,i)"> <i class="fa fa-trash"></i></a>
            </td>
          </tr>

        </tbody>

      </table>
 
      <div class="form-group">
        <button [disabled]="restaurantService.orderItems.length==0" type="submit" class="btn btn-dark"> <i class="fa fa-plus"></i> submit</button>
        <a class="btn btn-outline-dark ml-1" routerLink="/orders"><i class="fa fa-table"></i>View list</a>
      </div>
    </div>
</form>
